{% extends 'base.admin.html.twig' %}

{% block title %}Help index{% endblock %}

{% block body %}
    <h1>Help index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Soustitre</th>
                <th>Icone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for help in helps %}
            <tr>
                <td>{{ help.id }}</td>
                <td>{{ help.image }}</td>
                <td>{{ help.titre }}</td>
                <td>{{ help.description }}</td>
                <td>{{ help.soustitre }}</td>
                <td>{{ help.icone }}</td>
                <td>
                    <a href="{{ path('help_show', {'id': help.id}) }}">show</a>
                    <a href="{{ path('help_edit', {'id': help.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('help_new') }}">Create new</a>
{% endblock %}
