{% extends 'base.admin.html.twig' %}

{% block title %}Belts index{% endblock %}

{% block body %}
    <h1>Belts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Icone</th>
                <th>Categorie</th>
                <th>Souscategorie</th>
                <th>Soustitre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for belt in belts %}
            <tr>
                <td>{{ belt.id }}</td>
                <td>{{ belt.titre }}</td>
                <td>{{ belt.image }}</td>
                <td>{{ belt.description }}</td>
                <td>{{ belt.icone }}</td>
                <td>{{ belt.categorie }}</td>
                <td>{{ belt.souscategorie }}</td>
                <td>{{ belt.soustitre }}</td>
                <td>
                    <a href="{{ path('belts_show', {'id': belt.id}) }}">show</a>
                    <a href="{{ path('belts_edit', {'id': belt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('belts_new') }}">Create new</a>
{% endblock %}
