{% extends 'base.html.twig' %}

{% block title %}Women index{% endblock %}

{% block body %}
    <h1>Women index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Soustitre</th>
                <th>Icone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for woman in womens %}
            <tr>
                <td>{{ woman.id }}</td>
                <td>{{ woman.image }}</td>
                <td>{{ woman.titre }}</td>
                <td>{{ woman.description }}</td>
                <td>{{ woman.soustitre }}</td>
                <td>{{ woman.icone }}</td>
                <td>
                    <a href="{{ path('women_show', {'id': woman.id}) }}">show</a>
                    <a href="{{ path('women_edit', {'id': woman.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('women_new') }}">Create new</a>
{% endblock %}
