{% extends 'base.html.twig' %}

{% block title %}Accessories index{% endblock %}

{% block body %}
    <h1>Accessories index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Icone</th>
                <th>Categorie</th>
                <th>Souscategorie</th>
                <th>Soustitre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accessory in accessories %}
            <tr>
                <td>{{ accessory.id }}</td>
                <td>{{ accessory.titre }}</td>
                <td>{{ accessory.image }}</td>
                <td>{{ accessory.description }}</td>
                <td>{{ accessory.icone }}</td>
                <td>{{ accessory.categorie }}</td>
                <td>{{ accessory.souscategorie }}</td>
                <td>{{ accessory.soustitre }}</td>
                <td>
                    <a href="{{ path('accessories_show', {'id': accessory.id}) }}">show</a>
                    <a href="{{ path('accessories_edit', {'id': accessory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('accessories_new') }}">Create new</a>
{% endblock %}
