{% extends 'base.html.twig' %}

{% block title %}Sunglasses index{% endblock %}

{% block body %}
    <h1>Sunglasses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Icone</th>
                <th>Categorie</th>
                <th>Souscategorie</th>
                <th>Soustitre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sunglass in sunglasses %}
            <tr>
                <td>{{ sunglass.id }}</td>
                <td>{{ sunglass.titre }}</td>
                <td>{{ sunglass.image }}</td>
                <td>{{ sunglass.description }}</td>
                <td>{{ sunglass.icone }}</td>
                <td>{{ sunglass.categorie }}</td>
                <td>{{ sunglass.souscategorie }}</td>
                <td>{{ sunglass.soustitre }}</td>
                <td>
                    <a href="{{ path('sunglasses_show', {'id': sunglass.id}) }}">show</a>
                    <a href="{{ path('sunglasses_edit', {'id': sunglass.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sunglasses_new') }}">Create new</a>
{% endblock %}
